---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


.jumbotron {
    background-position: center;
    text-align: center;

    margin: 20px;

  min-height: 450px;


  position: relative;
	overflow: hidden;
}

div.jumbotron .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
    
    



h1.centered {
    text-align: center;
}

div.centered{
  text-align: center;
}

h1.post-title{
  text-shadow:
  -1px -1px 0 #FFF,
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
}

div.highlight_api{
  background-color: #c1e2b3;
  width: 100%;
  padding: 1em;
}


div.word_cloud{
  width: 600px;
  background-color: #c1e2b3;
}

div.advertisement{
  text-align: center;
}



.carousel{
  width:600px;
  height:500px;

}

.carousel-caption{
  color: #000000;

}





.semi{
  background-color: rgba(255,255,255,0.5);

}

.row{
	top: 50;
	left: 30;
}


.trigger{
cursor:pointer;
background: #FFFFFF;
border:0px solid #FFFFFF;
color:#000000;
font-size:12pt;
padding:2px 5px;
box-shadow: none;
}


.trigger:active{
cursor:pointer;
color:#000000;
outline: none;
background: #FFFFFF;
border:0px solid #FFFFFF;
font-size:12pt;
padding:2px 5px;
box-shadow: none;
}

.trigger:hover{
cursor:pointer;
background: #FFFFFF;
border:0px solid #FFFFFF;
color2:#000000;
font-size:12pt;
padding:2px 5px;
box-shadow: none;
}

.post{
margin-left: 2cm;
}

.site-wrapper{
margin-left: 1cm;
}


.centered {
    text-align:center;
}


.centered2 {
    text-align:center;
    margin: auto;
    display:table;
    width:500px;
    height: 350px;
}


.bloglisting{

  max-height: 250px;



}

.bio{

  height:201.614px;


}



.centeredbio {
  width: 80%;
  margin: 0 auto;
}

.biosquish {

  padding: 5em;
  background-color:#6796EB;
  border: 0px;

}

.bioheader{
  font-family: Consolas;
  font-size: 300%;
  color: #FFCC60;




}

.colour {
  color: #FFCC60;
}

.linkcolour,.linkcolour:visited{

 color: black;

}



.blogtitle{
  min-height: 52px;
}




.header_background2{
  display: block;
  margin: 0 auto;
}
#mainContainer{
  overflow:hidden;
}

#divA{ float:left;
  width:40%;
  height:500px;
  padding-left: 50px;

}

#divB{
  float:right;
  width:55%;
  height:500px;
}


ul.nav-pills {
  top: 300px;
  position: fixed;
}
div.col-sm-9 div {
  height: 250px;
  font-size: 28px;
}
#section1 {
  color: #fff;
  background-color: #1E88E5;
}
#section2 {
  color: #fff;
  background-color: #673ab7;
}
#section3 {
  color: #fff;
  background-color: #ff9800;
}
#section41 {
  color: #fff;
  background-color: #00bcd4;
}
#section42 {
  color: #fff;
  background-color: #009688;
}

@media screen and (max-width: 810px) {
  #section1, #section2, #section3, #section41, #section42  {
    margin-left: 150px;
  }
}

.scrollpos{
  float:right;
  width:60%;
  height:500px;
}

.site-header {
  border-top:10px solid #ffffff;

}

.frontblogs{


  height: 400px;
  margin-left: 0px;
  margin-right: 0px;


}

.centered3 {
  position: relative;
  left: 45px;
  text-align:center;
  display:table;
  width:500px;
  height: 350px;
}

.blog-summary1{
  width: 500px;


}

.post-link1{
  position: relative;
  left: 70px;
}

.site-nav{
  padding-top: 50px;

}