<div class="container">
    <article class="post-content">
dataPipeline is a company built on the vision of bringing data analytics to small and medium businesses.
  As part of that vision, we aim to help businesses with the whole "pipeline" of data-related activities, including:
  <ul style= "list-style-type:disc">
   <li> Collecting data from real world sources, both internally and externally to your business</li>
   <li>Storing that data securely and robustly, ensuring that data is kept secret and available</li>
   <li>Analysing the data to gain actionable insights, allowing your business to benefit from it</li>
   <li>Reporting and actioning on that data, realising the end-game of your data analytics pipeline.</li>
  </ul>
  dataPipeline is a proudly Australian business, operating from the Ballarat region in Victoria.<br>
  Incorporated in 2014 by Robert Layton, while the company is only new, but we are helping clients, building products, and making impact.
  We have helped and worked with more than 15 companies in this short time, and hope to increase our value to the community.
  <br>
  <br>

  We are interested to hear about opportunities for collaboration, from industry, academia and government.<br>
  The first point of contact is our email address,<a href="contact@datapipeline.com.au">contact@datapipeline.com.au</a> or you can give Robert a call on 0430013554.
  <br>
  <br>
</article>
    </div>