---
layout: default
---
<div class="post">

  <div id="header_background" class="jumbotron" style=" background-repeat:no-repeat; width:100%;background-image:url(/images/{{ page.image }});">
    <div class=semi>
    <header class="post-header">
      <h1 class="post-title">{{ page.title_view }}</h1>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>
    </div>
  </div>
  <div class="container">
  <article class="post-content">
    {{ content }}
    
    <a href="{{ page.image_attribution }}">Image attribution</a>
  </article>
  <div class="row">
            <div class="col-md-6">
			 <h1 class="page-heading">Posts</h1>

             <ul class="post-list">
				{% for post in site.posts limit: 5 %}
			<li>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

			<h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			</li>
				{% endfor %}
			</ul>
                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
            
            </div>
            <div class="col-md-6">
                {% include book.html %}
            </div>
    

</div>

                <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
           
  

<script>
//$("#header_background").css("background-image", "url(/images/{{ page.image }})");

$(document).ready(function(){
    run_api_form("{{ page.api_endpoint }}");
});

</script>
